@charset "UTF-8";

.container-fluid {text-align: center;}
header { background-color: yellow; height: 50px;}
nav {background-color: aqua;}
ul {background-color: aqua; margin: 0%;}
li {list-style: none;}
article {background-color: blueviolet; color: yellow;}
.aside-1 {background-color: yellowgreen;}
.aside-2 {background-color: blue; color: white;}
footer {background-color: green; text-align: center; height: 50px; color: white;}
